@charset "UTF-8";

@charset "UTF-8";

@media screen and (min-width:481px) and (max-width:768px){
    body {
        margin: 0;
        padding: 0;
        background: #ccee66;
        color: white;
        padding: 20px 60px;
        height: 100vh;
        font-family: "Noto Sans", sans-serif;
    
        overflow: hidden;
    }
    
    body::before {
        content: "";
        background: #090909f8;
        width: 250%;
        height: 100%;
        position: absolute;
        top: 0;
        left: -600px;
        transform: rotate(-70deg);
    }
    
    body::after {
        content: 'Nike';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #000000be;
        font-size: 250px;
        font-weight: bold;
        opacity: 0.5;
    
    }
    
    .logo {
        width: 30px;
        position: relative;
        z-index: 2;
    }
    
    h4 {
        font-size: 30px;
    }
    
    h1 {
        font-size: 40px;
    }
    
    p {
        font-size: 10px;
        margin-bottom: 40px;
    }
    
    .botao-carrinho {
        background-color: #a3be52;
        padding: 10px 10px;
        border-radius: 20px;
        font-size: 10px;
        color: black;
        cursor: pointer;
        transition: 0.5s;
    }
    
    .botao-carrinho:hover {
        opacity: 0.7;
        
    }
    
    .img-tenis {
        width: 400px;
        transform: rotate(-25deg);
        filter: drop-shadow( 30px 45px 30px black);
        transition: 1s;
    }
    
    .troca-efeito{
        opacity: 0;
        transform: rotate(-25deg) translateY(-30px);
        overflow: hidden;
    }
    
    .caixa-principal {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 75%;
        position: relative;
        z-index: 1;
    }
    
    .caixa-texto {
        max-width: 500px;
    }
    
    .caixa-botoes {
        position: relative;
        z-index: 2;
        display: flex;
        gap: 20px;
        padding-top: 50px;
        
    }
    
    .botoes {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
        
    }
    .botoes:hover{
        transform: scale(1.2) translate(-2px ,-2px);
        transition-duration: 0.5s;
    }
    .botoes:active{
        opacity: 0.6;
    }
    
    .verde {
        background: #ccee66;
    }
    
    .rosa {
        background: #ff9eb5;
    }
    
    .azul {
        background: #58cced;
    }
}
    @media screen and (min-width:769px){

    body {
        margin: 0;
        padding: 0;
        background: #ccee66;
        color: white;
        padding: 20px 130px;
        height: 100vh;
        width: 60vw;
        font-family: "Noto Sans", sans-serif;
    
        overflow: hidden;
    }
    
    body::before {
        content: "";
        background: #090909f8;
        width: 75%;
        height: 125%;
        position: absolute;
        top: -90px;
        left: -300px;
        transform: rotate(-70deg);
    }
    
    body::after {
        content: 'Nike';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #000000be;
        font-size: 250px;
        font-weight: bold;
        opacity: 0.5;
    
    }
    
    .logo {
        width: 80px;
        position: relative;
        z-index: 2;
    }
    
    h4 {
        font-size: 35px;
    }
    
    h1 {
        font-size: 70px;
    }
    
    p {
        font-size: 20px;
        margin-bottom: 40px;
    }
    
    .botao-carrinho {
        background-color: #a3be52;
        padding: 20px 10px;
        border-radius: 20px;
        font-size: 16px;
        color: black;
        cursor: pointer;
        transition: 0.5s;
    }
    
    .botao-carrinho:hover {
        opacity: 0.7;
        
    }
    
    
    .img-tenis {
        width: 800px;
        transform: rotate(-25deg);
        position: absolute;
        top: 50px;
        left:600px;
    }
    .troca-efeito{
        opacity: 0;
        transform: rotate(-25deg) translateY(-30px);
    }
    
    .caixa-principal {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 75%;
        position: relative;
        z-index: 1;
    }
    
    .caixa-texto {
        max-width: 500px;
    }
    
    .caixa-botoes {
        position: relative;
        z-index: 2;
        display: flex;
        gap: 20px;
        bottom: 30px;
        
        
    }
    
    .botoes {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        cursor: pointer;
        
    }
    .botoes:active{
        opacity: 0.6;
    }
    .verde {
        background: #ccee66;
    }
    
    .rosa {
        background: #ff9eb5;
    }
    
    .azul {
        background: #58cced;
    }
}
    