* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #cf0f47;
  color: white;
  padding: 50px 130px;
  height: 110vh;
  width: 100vw;
  font-family: "Noto Sans", sans-serif;
  overflow: hidden;
}

body::before {
  content: "";
  background: #090909cc;
  width: 100%;
  height: 160%;
  position: absolute;
  top: -280px;
  left: -530px;
  transform: rotate(-70deg);
}

body::after {
  content: "Nike";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000c5;
  font-size: 250px;
  font-weight: bold;
  opacity: 0.5;
}

.logo {
  width: 80px;
  position: relative;
  z-index: 2;
}

h4 {
  font-size: 35px;
}

h1 {
  font-size: 70px;
}

p {
  font-size: 20px;
  margin-bottom: 40px;
}

.botao-carrinho {
  background-color: #ffffff;
  padding: 20px 10px;
  border-radius: 20px;
  font-size: 16px;
  color: black;
  cursor: pointer;
  transition: 0.5s;
}

.botao-carrinho:hover {
  opacity: 0.7;
}

.img-tenis {
  aspect-ratio: auto;
  width: 860px;
  transform: rotate(-25deg);
  position: absolute;
  top: -40px;
  left: 530px;
  transition: all 0.5s ease; /* ESSA LINHA É ESSENCIAL */
}

.troca-efeito {
  opacity: 0;
  transform: rotate(-25deg) translateY(-30px);
}

.caixa-principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75%;
  position: relative;
  z-index: 1;
}

.caixa-texto {
  max-width: 500px;
}

.caixa-botoes {
  position: relative;
  z-index: 2;
  display: flex;
  gap: 25px;
  bottom: -10px;
}

.botoes {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
}

.botoes:active {
  opacity: 0.6;
}

.botoes-vermelho {
  background: #ea2f14;
}

.rosa-pink {
  background: #cf0f47;
}

.verde {
  background: #ccee66;
}

.vermelho {
  background: #ea2f14;
}

.rosa {
  background: #ff9eb5;
}

.roxo {
  background: #52357b;
}

.azul {
  background: #58cced;
}

/* Tablet (até 1024px) */
@media (max-width: 1024px) {
  body {
    padding: 40px 60px;
    width: 90vw;
  }
  body::before {
    content: "";
    background: #090909cc;
    width: 170%;
    height: 70%;
    position: absolute;
    top: 170px;
    left: -720px;
    transform: rotate(-70deg);
  }
  h4 {
    font-size: 35px;
  }

  h1 {
    font-size: 70px;
  }

  p {
    font-size: 22px;
    margin-bottom: 50px;
  }

  .img-tenis {
    width: 755px;
    top: 490px;
    left: 220px;
  }
  .caixa-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55%;
    position: relative;
    z-index: 1;
  }

  .caixa-texto {
    text-align: center;
  }

  .caixa-botoes {
    position: relative;
    z-index: 2;
    display: flex;
    gap: 25px;
    bottom: -300px;
  }
}

/* Celular (até 600px) */
@media (max-width: 600px) {
  body {
    padding: 20px 20px;
    width: 65vw;
  }
  body::before {
    content: "";
    background: #090909cc;
    width: 105%;
    height: 360%;
    position: absolute;
    top: -295px;
    left: -490px;
    transform: rotate(-160deg);
  }
  body::after {
    content: "Nike";
    position: absolute;
    top: 50%;
    left: 41%;
    transform: translate(-40%, -40%);
    color: #000000c5;
    font-size: 165px;
    font-weight: bold;
    opacity: 0.5;
  }
  .img-tenis {
    width: 450px;
    top: 450px;
    left: 100%;
    transform: translateX(-50%) rotate(-25deg);
  }
  .caixa-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    position: relative;
    z-index: 1;
  }

  .caixa-texto {
    max-width: 500px;
  }
  h1 {
    font-size: 36px;
  }

  h4 {
    font-size: 22px;
  }

  p {
    font-size: 16px;
  }

  .caixa-texto {
    text-align: center;
  }

  .caixa-botoes {
    position: relative;
    z-index: 2;
    display: flex;
    gap: 10px;
    bottom: -340px;
  }

  .caixa-principal {
    flex-direction: column;
    gap: 20px;
  }

  .botao-carrinho {
    padding: 15px 10px;
    font-size: 14px;
  }
}
